issuer: https://dev-<...>.us.auth0.com/
client-id: <...>
audience:
  - https://localhost:3000/<...>
ignore-me: 42
certificate: |
    -----BEGIN CERTIFICATE-----
    <...>
    -----END CERTIFICATE-----
